<div
  *ngIf="track"
  class="track-header-container"
  [style.backgroundColor]="pictureDominantColor"
>
  <img src="{{ track.pictureUrl }}" />

  <div class="track-right-side-container">
    <div class="track-text">
      <h1 [style.color]="textColor">{{ track.name }}</h1>
      <p
        [style.color]="textColor"
        style="padding-left: 20px; cursor: pointer"
        routerLink="{{ '/user/' + track.ownerUser.id }}"
      >
        {{ track.ownerUser.name }}
      </p>
    </div>

    <button mat-fab color="" aria-label="Play song" (click)="onPlayPressed()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>
