.track-header-container {
  display: flex;
  padding: 20px;
}

img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.track-right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.track-text {
  display: flex;
  align-items: center;
}
