<div style="width: 100%; height: 100%; display: flex; flex-direction: column;" class={{getRootClass()}}>
  <mat-toolbar>
      <span>Listen</span>
      <div>
        <a mat-button>
          Newest
        </a>
        <a mat-button>
          Favorites
        </a>
        <a mat-button>
          Upload
        </a>
      </div>
      <button mat-mini-fab>
        <mat-icon>account_circle</mat-icon>
      </button>
  </mat-toolbar>

  <div class="main-content">
    <button mat-mini-fab (click)="onSwitchShowPlayer()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>

<div class="audio-player" [ngStyle]="{'height': (showPlayer) ? '70px' : '0px'}">

</div>
