<div
  style="width: 100%; height: 100%; display: flex; flex-direction: column"
  class="{{ getRootClass() }}"
>
  <mat-toolbar>
    <span>Listen</span>
    <div>
      <a mat-button routerLink="/newest"> Newest </a>
      <a mat-button routerLink="/favorites"> Favorites </a>
      <a mat-button routerLink="/upload"> Upload </a>
    </div>
    <button mat-mini-fab>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="audio-player">
  <app-bottom-audio-player></app-bottom-audio-player>
</div>
