.card-body {
  display: flex;
  padding: 12px;
  height: 180px;
  margin-bottom: 20px;
}

.card-main-context {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 12px;
}

.wave-form {
  width: 100%;
  height: 100px;
  background-color: blanchedalmond;
}

.card-upper-main-context {
  width: 100%;
  height: 80px;
  display: flex;
}

.card-names {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.card-names-end {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-track-infos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
}

.edit-button {
  height: 24px;
  min-width: 60px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
}

.edit-button .mat-icon {
  font-size: 12px;
  width: 16px;
  height: 16px;
  padding-right: 6px;
}

.favorite-button {
  height: 24px;
  min-width: 80px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.favorite-button .mat-icon {
  font-size: 12px;
  width: 16px;
  height: 16px;
  padding-right: 6px;
}

img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
